.side-bar
  .side-bar__userlist
    .side-bar__userlist--info
      .side-bar__userlist--info--name masa
      .side-bar__userlist--info--icons
        = link_to "#", class: "icon_1" do
          = icon('far', 'edit')
        = link_to "#", class: "icon_2" do
          = icon('fas', 'cog')
  .side-bar__group
    .side-bar__group__box
      .side-bar__group__box--name  techcamp
      .side-bar__group__box--messages まだメセージがありません
    .side-bar__group__box
      .side-bar__group__box--name  techcamp
      .side-bar__group__box--messages まだメセージがありません
    .side-bar__group__box
      .side-bar__group__box--name  techcamp
      .side-bar__group__box--messages まだメセージがありません